<h2> Sur l'année </h2>

<div class="row">
    <%= line_chart AquaponieMesure.group_by_month_of_year(:created_at).average(:pH), width: "100%", height: "50%", xtitle: "Temps (h)", ytitle: "pH" %>
</div>
<div class="row">
  <%= line_chart AquaponieMesure.group_by_month_of_year(:created_at).average(:niveau), id: "Niveau", width: "100%", height: "50%", xtitle: "Temps (h)", ytitle: "Niveau (cm)", min: 0, max: 40 %>
</div>