<h1> Météo du Jour </h1>

<div class="row">
    <%= line_chart MeteoMesure.group_by_hour(:created_at, range: 24.hours.ago..Time.now).average(:temperature), width: "100%", height: "50%", xtitle: "Temps (h)", ytitle: "Temp (°C)" %>
</div>
<div class="row">
  <%= line_chart MeteoMesure.group_by_hour(:created_at, range: 24.hours.ago..Time.now).average(:pression), id: "Pression", width: "100%", height: "50%", xtitle: "Temps (h)", ytitle: "Pres (hPa)", min: 980, max: 1030 %>
</div>
<div class="row">
   <%= line_chart MeteoMesure.group_by_hour(:created_at, range: 24.hours.ago..Time.now).average(:humidite), id: "Humidité", width: "100%", height: "50%", xtitle: "Temps (h)", ytitle: "Humidité (%)", min: 0, max: 100 %>
</div>            